<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>moredevs</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li></li>
            </ul>
        </nav>
    </header>
    <main>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Idade</th>
                    <th>Altura</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Abacate</td>
                    <td>28</td>
                    <td>1,65</td>
                </tr>
            </tbody>
        </table>
    </main>
    <footer>

    </footer>
</body>
</html>