<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>moredevs</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li></li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="/criar"method="post">

            <fieldset>
                
                <div class="form-group">
                    <label for="nome">nome</label>
                    <input type="text" id="nome" name="nome" class="form-control">
                </div>
                
                <div class="form-group">
                    <label for="idade">idade</label>
                    <input type="text" id="idade" name="idade" class="form-control">
                </div>

                <div class="form-group">
                    <label for="altura">altura</label>
                    <input type="text" id="altura" name="altura" class="form-control">
                </div>
                 
                <button type="submit" class="btn btn-success">Criar</button>


            </fieldset>
        </form>
    </main>
    <footer>

    </footer>
</body>
</html>